In [1]:
#Importing required libraries
import numpy as np
import pandas as pd

#Updating setting to prevent truncation of DataFrame column content
pd.set_option('display.max_colwidth',-1)

In [2]:
#Reading the first dataset
country = pd.read_csv('Gender_Stats_csv/Gender_StatsCountry.csv')
country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-GDDS),2010,NaN,NaN,Yes,NaN,NaN,2016.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,NaN,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2017.0,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2017.0,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),2011,"Demographic and Health Survey, 2017/18","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2013.0,2017.0,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income,AD,...,NaN,NaN,2011. Population data compiled from administrative registers.,NaN,NaN,Yes,NaN,NaN,NaN,NaN

In [3]:
country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 31 columns):
Country Code                                         263 non-null object
Short Name                                           263 non-null object
Table Name                                           263 non-null object
Long Name                                            263 non-null object
2-alpha code                                         261 non-null object
Currency Unit                                        217 non-null object
Special Notes                                        94 non-null object
Region                                               217 non-null object
Income Group                                         217 non-null object
WB-2 code                                            262 non-null object
National accounts base year                          210 non-null object
National accounts reference year                     70 non-null float64
SNA price valuation                                  211 non-null object
Lending category                                     144 non-null object
Other groups                                         59 non-null object
System of National Accounts                          208 non-null object
Alternative conversion factor                        47 non-null object
PPP survey year                                      0 non-null float64
Balance of Payments Manual in use                    200 non-null object
External debt Reporting status                       119 non-null object
System of trade                                      203 non-null object
Government Accounting concept                        158 non-null object
IMF data dissemination standard                      186 non-null object
Latest population census                             214 non-null object
Latest household survey                              152 non-null object
Source of most recent Income and expenditure data    168 non-null object
Vital registration complete                          120 non-null object
Latest agricultural census                           128 non-null object
Latest industrial data                               147 non-null float64
Latest trade data                                    246 non-null float64
Unnamed: 30                                          0 non-null float64
dtypes: float64(5), object(26)
memory usage: 63.8+ KB

In [4]:
#Dropping the non-required columns
country = country[['Country Code','Short Name','Region','Income Group']]
country.head()

  Country Code   Short Name                     Region         Income Group
0  ABW          Aruba        Latin America & Caribbean  High income
1  AFG          Afghanistan  South Asia                 Low income
2  AGO          Angola       Sub-Saharan Africa         Lower middle income
3  ALB          Albania      Europe & Central Asia      Upper middle income
4  AND          Andorra      Europe & Central Asia      High income

In [5]:
#Reading the second dataset
stats = pd.read_csv('Gender_Stats_csv/Gender_StatsData.csv')
stats.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),SG.APL.PSPT.EQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,A woman can be head of household in the same way as a man (1=yes; 0=no),SG.HLD.HEAD.EQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,A woman can choose where to live in the same way as a man (1=yes; 0=no),SG.LOC.LIVE.EQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,A woman can get a job in the same way as a man (1=yes; 0=no),SG.GET.JOBS.EQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,A woman can obtain a judgment of divorce in the same way as a man (1=yes; 0=no),SG.OBT.DVRC.EQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164112 entries, 0 to 164111
Data columns (total 66 columns):
Country Name      164112 non-null object
Country Code      164112 non-null object
Indicator Name    164112 non-null object
Indicator Code    164112 non-null object
1960              8207 non-null float64
1961              8208 non-null float64
1962              8966 non-null float64
1963              8376 non-null float64
1964              8400 non-null float64
1965              8476 non-null float64
1966              8605 non-null float64
1967              9203 non-null float64
1968              8633 non-null float64
1969              8697 non-null float64
1970              17971 non-null float64
1971              19723 non-null float64
1972              20248 non-null float64
1973              19649 non-null float64
1974              19692 non-null float64
1975              20781 non-null float64
1976              21116 non-null float64
1977              21725 non-null float64
1978              21205 non-null float64
1979              21392 non-null float64
1980              22980 non-null float64
1981              22227 non-null float64
1982              22618 non-null float64
1983              22315 non-null float64
1984              22426 non-null float64
1985              23559 non-null float64
1986              23009 non-null float64
1987              23443 non-null float64
1988              22804 non-null float64
1989              22954 non-null float64
1990              29136 non-null float64
1991              34419 non-null float64
1992              35003 non-null float64
1993              34444 non-null float64
1994              34701 non-null float64
1995              36032 non-null float64
1996              34915 non-null float64
1997              35423 non-null float64
1998              36324 non-null float64
1999              38935 non-null float64
2000              48509 non-null float64
2001              41791 non-null float64
2002              42248 non-null float64
2003              43247 non-null float64
2004              43892 non-null float64
2005              51241 non-null float64
2006              46304 non-null float64
2007              46387 non-null float64
2008              45740 non-null float64
2009              46256 non-null float64
2010              56662 non-null float64
2011              48743 non-null float64
2012              49958 non-null float64
2013              47870 non-null float64
2014              51174 non-null float64
2015              54783 non-null float64
2016              54656 non-null float64
2017              51701 non-null float64
2018              47375 non-null float64
2019              35271 non-null float64
2020              11712 non-null float64
Unnamed: 65       0 non-null float64
dtypes: float64(62), object(4)
memory usage: 82.6+ MB

In [8]:
#Converting the horizontal dataset into vertical format
idx = ['Country Name','Country Code','Indicator Name','Indicator Code']
multi_index_df = stats.set_index(idx)
stacked_df = multi_index_df.stack(dropna=False)
long_df = stacked_df.reset_index()
long_df.rename({'level_4':'Year', 0:'Indicator Value'}, axis=1, inplace=True)
long_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Indicator Value
0,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),SG.APL.PSPT.EQ,1960,NaN
1,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),SG.APL.PSPT.EQ,1961,NaN
2,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),SG.APL.PSPT.EQ,1962,NaN
3,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),SG.APL.PSPT.EQ,1963,NaN
4,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),SG.APL.PSPT.EQ,1964,NaN

In [10]:
long_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10174944 entries, 0 to 10174943
Data columns (total 6 columns):
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
Year               object
Indicator Value    float64
dtypes: float64(1), object(5)
memory usage: 465.8+ MB

In [9]:
long_df['Year'].unique()

array(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype=object)

In [11]:
long_df = long_df.loc[long_df['Year']!='Unnamed: 65']
long_df['Year'] = long_df['Year'].astype(int)
stats_df = long_df.drop('Indicator Code', axis=1)
stats_df = stats_df.loc[(stats_df['Year']>=1980) & (stats_df['Year']<2020)]
stats_df.head()

,Country Name,Country Code,Indicator Name,Year,Indicator Value
20,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1980,NaN
21,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1981,NaN
22,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1982,NaN
23,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1983,NaN
24,Arab World,ARB,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1984,NaN

In [13]:
join_df = pd.merge(stats_df,country,on='Country Code',how='left')
join_df = join_df[['Country Code','Country Name','Region','Income Group','Indicator Name','Year','Indicator Value']]
join_df = join_df[join_df['Region'].notnull()]
join_df.head()

,Country Code,Country Name,Region,Income Group,Indicator Name,Year,Indicator Value
1148160,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1980,0.0
1148161,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1981,0.0
1148162,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1982,0.0
1148163,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1983,0.0
1148164,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1984,0.0

In [14]:
country_ncheck = {}

for i in join_df['Country Name'].unique():
    df = join_df[join_df['Country Name']==i]
    total_cnt = df['Indicator Value'].size
    null_cnt = df['Indicator Value'].isnull().sum()
    non_null_cnt = total_cnt - null_cnt
    cnt_list = [total_cnt, null_cnt, non_null_cnt]
    country_ncheck[i] = cnt_list
    
country_ncheck

{'Afghanistan': [24960, 18777, 6183],
 'Albania': [24960, 17457, 7503],
 'Algeria': [24960, 18035, 6925],
 'American Samoa': [24960, 24715, 245],
 'Andorra': [24960, 23722, 1238],
 'Angola': [24960, 18977, 5983],
 'Antigua and Barbuda': [24960, 20625, 4335],
 'Argentina': [24960, 17773, 7187],
 'Armenia': [24960, 17811, 7149],
 'Aruba': [24960, 22625, 2335],
 'Australia': [24960, 17810, 7150],
 'Austria': [24960, 17492, 7468],
 'Azerbaijan': [24960, 18027, 6933],
 'Bahamas, The': [24960, 19130, 5830],
 'Bahrain': [24960, 18222, 6738],
 'Bangladesh': [24960, 18064, 6896],
 'Barbados': [24960, 18415, 6545],
 'Belarus': [24960, 18621, 6339],
 'Belgium': [24960, 17288, 7672],
 'Belize': [24960, 18601, 6359],
 'Benin': [24960, 17839, 7121],
 'Bermuda': [24960, 24020, 940],
 'Bhutan': [24960, 18815, 6145],
 'Bolivia': [24960, 17735, 7225],
 'Bosnia and Herzegovina': [24960, 19135, 5825],
 'Botswana': [24960, 18274, 6686],
 'Brazil': [24960, 18065, 6895],
 'British Virgin Islands': [24960, 24166, 794],
 'Brunei Darussalam': [24960, 18545, 6415],
 'Bulgaria': [24960, 17254, 7706],
 'Burkina Faso': [24960, 17465, 7495],
 'Burundi': [24960, 17737, 7223],
 'Cabo Verde': [24960, 18380, 6580],
 'Cambodia': [24960, 17935, 7025],
 'Cameroon': [24960, 18065, 6895],
 'Canada': [24960, 17789, 7171],
 'Cayman Islands': [24960, 24055, 905],
 'Central African Republic': [24960, 18890, 6070],
 'Chad': [24960, 18216, 6744],
 'Channel Islands': [24960, 22548, 2412],
 'Chile': [24960, 17489, 7471],
 'China': [24960, 18914, 6046],
 'Colombia': [24960, 16888, 8072],
 'Comoros': [24960, 18908, 6052],
 'Congo, Dem. Rep.': [24960, 18598, 6362],
 'Congo, Rep.': [24960, 18623, 6337],
 'Costa Rica': [24960, 17274, 7686],
 "Cote d'Ivoire": [24960, 18198, 6762],
 'Croatia': [24960, 18327, 6633],
 'Cuba': [24960, 19439, 5521],
 'Curacao': [24960, 23701, 1259],
 'Cyprus': [24960, 17311, 7649],
 'Czech Republic': [24960, 17553, 7407],
 'Denmark': [24960, 17110, 7850],
 'Djibouti': [24960, 18812, 6148],
 'Dominica': [24960, 21524, 3436],
 'Dominican Republic': [24960, 17308, 7652],
 'Ecuador': [24960, 17459, 7501],
 'Egypt, Arab Rep.': [24960, 17443, 7517],
 'El Salvador': [24960, 17449, 7511],
 'Equatorial Guinea': [24960, 19401, 5559],
 'Eritrea': [24960, 18931, 6029],
 'Estonia': [24960, 17705, 7255],
 'Eswatini': [24960, 18274, 6686],
 'Ethiopia': [24960, 17830, 7130],
 'Faroe Islands': [24960, 24659, 301],
 'Fiji': [24960, 18716, 6244],
 'Finland': [24960, 17207, 7753],
 'France': [24960, 17234, 7726],
 'French Polynesia': [24960, 22326, 2634],
 'Gabon': [24960, 19052, 5908],
 'Gambia, The': [24960, 18369, 6591],
 'Georgia': [24960, 18054, 6906],
 'Germany': [24960, 17593, 7367],
 'Ghana': [24960, 17738, 7222],
 'Gibraltar': [24960, 24564, 396],
 'Greece': [24960, 17243, 7717],
 'Greenland': [24960, 24267, 693],
 'Grenada': [24960, 20312, 4648],
 'Guam': [24960, 22299, 2661],
 'Guatemala': [24960, 17808, 7152],
 'Guinea': [24960, 17944, 7016],
 'Guinea-Bissau': [24960, 19370, 5590],
 'Guyana': [24960, 18618, 6342],
 'Haiti': [24960, 18633, 6327],
 'Honduras': [24960, 17627, 7333],
 'Hong Kong SAR, China': [24960, 18861, 6099],
 'Hungary': [24960, 17256, 7704],
 'Iceland': [24960, 17710, 7250],
 'India': [24960, 18285, 6675],
 'Indonesia': [24960, 16826, 8134],
 'Iran, Islamic Rep.': [24960, 18038, 6922],
 'Iraq': [24960, 19078, 5882],
 'Ireland': [24960, 17351, 7609],
 'Isle of Man': [24960, 24585, 375],
 'Israel': [24960, 17858, 7102],
 'Italy': [24960, 16906, 8054],
 'Jamaica': [24960, 18078, 6882],
 'Japan': [24960, 18888, 6072],
 'Jordan': [24960, 17844, 7116],
 'Kazakhstan': [24960, 18497, 6463],
 'Kenya': [24960, 18254, 6706],
 'Kiribati': [24960, 20308, 4652],
 "Korea, Dem. People's Rep.": [24960, 21769, 3191],
 'Korea, Rep.': [24960, 17519, 7441],
 'Kosovo': [24960, 22675, 2285],
 'Kuwait': [24960, 18435, 6525],
 'Kyrgyz Republic': [24960, 17912, 7048],
 'Lao PDR': [24960, 17851, 7109],
 'Latvia': [24960, 17484, 7476],
 'Lebanon': [24960, 19130, 5830],
 'Lesotho': [24960, 17573, 7387],
 'Liberia': [24960, 19069, 5891],
 'Libya': [24960, 19648, 5312],
 'Liechtenstein': [24960, 23684, 1276],
 'Lithuania': [24960, 17574, 7386],
 'Luxembourg': [24960, 17764, 7196],
 'Macao SAR, China': [24960, 20472, 4488],
 'Madagascar': [24960, 18109, 6851],
 'Malawi': [24960, 17794, 7166],
 'Malaysia': [24960, 17749, 7211],
 'Maldives': [24960, 19177, 5783],
 'Mali': [24960, 17527, 7433],
 'Malta': [24960, 17333, 7627],
 'Marshall Islands': [24960, 22121, 2839],
 'Mauritania': [24960, 18285, 6675],
 'Mauritius': [24960, 17480, 7480],
 'Mexico': [24960, 17314, 7646],
 'Micronesia, Fed. Sts.': [24960, 21040, 3920],
 'Moldova': [24960, 17841, 7119],
 'Monaco': [24960, 24064, 896],
 'Mongolia': [24960, 17850, 7110],
 'Montenegro': [24960, 18985, 5975],
 'Morocco': [24960, 17373, 7587],
 'Mozambique': [24960, 17696, 7264],
 'Myanmar': [24960, 18633, 6327],
 'Namibia': [24960, 18293, 6667],
 'Nauru': [24960, 23968, 992],
 'Nepal': [24960, 17907, 7053],
 'Netherlands': [24960, 17003, 7957],
 'New Caledonia': [24960, 22330, 2630],
 'New Zealand': [24960, 17920, 7040],
 'Nicaragua': [24960, 18374, 6586],
 'Niger': [24960, 17621, 7339],
 'Nigeria': [24960, 18119, 6841],
 'North Macedonia': [24960, 18254, 6706],
 'Northern Mariana Islands': [24960, 24784, 176],
 'Norway': [24960, 17026, 7934],
 'Oman': [24960, 18159, 6801],
 'Pakistan': [24960, 17412, 7548],
 'Palau': [24960, 22330, 2630],
 'Panama': [24960, 17856, 7104],
 'Papua New Guinea': [24960, 18981, 5979],
 'Paraguay': [24960, 17524, 7436],
 'Peru': [24960, 16517, 8443],
 'Philippines': [24960, 17368, 7592],
 'Poland': [24960, 17693, 7267],
 'Portugal': [24960, 17376, 7584],
 'Puerto Rico': [24960, 19893, 5067],
 'Qatar': [24960, 18225, 6735],
 'Romania': [24960, 17363, 7597],
 'Russian Federation': [24960, 18564, 6396],
 'Rwanda': [24960, 17562, 7398],
 'Samoa': [24960, 19186, 5774],
 'San Marino': [24960, 22064, 2896],
 'Sao Tome and Principe': [24960, 19221, 5739],
 'Saudi Arabia': [24960, 18838, 6122],
 'Senegal': [24960, 16900, 8060],
 'Serbia': [24960, 18508, 6452],
 'Seychelles': [24960, 19716, 5244],
 'Sierra Leone': [24960, 18755, 6205],
 'Singapore': [24960, 18377, 6583],
 'Sint Maarten (Dutch part)': [24960, 24732, 228],
 'Slovak Republic': [24960, 17745, 7215],
 'Slovenia': [24960, 17639, 7321],
 'Solomon Islands': [24960, 19439, 5521],
 'Somalia': [24960, 19877, 5083],
 'South Africa': [24960, 17585, 7375],
 'South Sudan': [24960, 20103, 4857],
 'Spain': [24960, 16787, 8173],
 'Sri Lanka': [24960, 18141, 6819],
 'St. Kitts and Nevis': [24960, 21690, 3270],
 'St. Lucia': [24960, 18566, 6394],
 'St. Martin (French part)': [24960, 24735, 225],
 'St. Vincent and the Grenadines': [24960, 19283, 5677],
 'Sudan': [24960, 19159, 5801],
 'Suriname': [24960, 18639, 6321],
 'Sweden': [24960, 17166, 7794],
 'Switzerland': [24960, 17407, 7553],
 'Syrian Arab Republic': [24960, 18358, 6602],
 'Tajikistan': [24960, 18518, 6442],
 'Tanzania': [24960, 17844, 7116],
 'Thailand': [24960, 18034, 6926],
 'Timor-Leste': [24960, 18924, 6036],
 'Togo': [24960, 17916, 7044],
 'Tonga': [24960, 19179, 5781],
 'Trinidad and Tobago': [24960, 18323, 6637],
 'Tunisia': [24960, 17732, 7228],
 'Turkey': [24960, 17224, 7736],
 'Turkmenistan': [24960, 21418, 3542],
 'Turks and Caicos Islands': [24960, 24530, 430],
 'Tuvalu': [24960, 23742, 1218],
 'Uganda': [24960, 17961, 6999],
 'Ukraine': [24960, 18279, 6681],
 'United Arab Emirates': [24960, 18871, 6089],
 'United Kingdom': [24960, 17410, 7550],
 'United States': [24960, 17658, 7302],
 'Uruguay': [24960, 17778, 7182],
 'Uzbekistan': [24960, 18713, 6247],
 'Vanuatu': [24960, 19267, 5693],
 'Venezuela, RB': [24960, 18235, 6725],
 'Vietnam': [24960, 18584, 6376],
 'Virgin Islands (U.S.)': [24960, 22457, 2503],
 'West Bank and Gaza': [24960, 18625, 6335],
 'Yemen, Rep.': [24960, 18967, 5993],
 'Zambia': [24960, 18259, 6701],
 'Zimbabwe': [24960, 18163, 6797]}

In [15]:
country_ndf = pd.DataFrame.from_dict(country_ncheck, orient='index')
country_ndf.reset_index(inplace=True)
col_names2 = ['Country Name','Total Count','Null Count','Non-Null Count']
country_ndf.columns = col_names2
country_ndf.sort_values(['Null Count'], ascending=False, inplace=True)
country_ndf.head()

                  Country Name  Total Count  Null Count  Non-Null Count
146  Northern Mariana Islands   24960        24784       176
183  St. Martin (French part)   24960        24735       225
172  Sint Maarten (Dutch part)  24960        24732       228
3    American Samoa             24960        24715       245
65   Faroe Islands              24960        24659       301

In [20]:
remove_country = country_ndf[country_ndf['Non-Null Count']<=5000]
rc_lst = list(remove_country['Country Name'])

In [25]:
join_df = join_df[~join_df['Country Name'].isin(rc_lst)]
join_df.head()

,Country Code,Country Name,Region,Income Group,Indicator Name,Year,Indicator Value
1148160,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1980,0.0
1148161,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1981,0.0
1148162,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1982,0.0
1148163,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1983,0.0
1148164,AFG,Afghanistan,South Asia,Low income,A woman can apply for a passport in the same way as a man (1=yes; 0=no),1984,0.0

In [26]:
null_check = {}

for i in join_df['Indicator Name'].unique():
    df = join_df[join_df['Indicator Name']==i]
    total_cnt = df['Indicator Value'].size
    null_cnt = df['Indicator Value'].isnull().sum()
    non_null_cnt = total_cnt - null_cnt
    cnt_list = [total_cnt, null_cnt, non_null_cnt]
    null_check[i] = cnt_list
    
null_check

{'A woman can apply for a passport in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can be head of household in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can choose where to live in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can get a job in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can obtain a judgment of divorce in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can open a bank account in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can register a business in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can sign a contract in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can travel outside her home in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman can travel outside the country in the same way as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'A woman has the same rights to remarry as a man (1=yes; 0=no)': [7160,
  40,
  7120],
 'Access to anti-retroviral drugs, female (%)': [7160, 4840, 2320],
 'Access to anti-retroviral drugs, male (%)': [7160, 4840, 2320],
 'Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)': [7160,
  6739,
  421],
 'Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)': [7160,
  6739,
  421],
 'Adjusted net enrollment rate, primary, female (% of primary school age children)': [7160,
  4525,
  2635],
 'Adjusted net enrollment rate, primary, male (% of primary school age children)': [7160,
  4525,
  2635],
 'Adolescent fertility rate (births per 1,000 women ages 15-19)': [7160,
  179,
  6981],
 'Age at first marriage, female': [7160, 5545, 1615],
 'Age at first marriage, male': [7160, 5751, 1409],
 'Age dependency ratio (% of working-age population)': [7160, 31, 7129],
 'Age population, age 0, female, interpolated': [7160, 28, 7132],
 'Age population, age 0, male, interpolated': [7160, 28, 7132],
 'Age population, age 01, female, interpolated': [7160, 28, 7132],
 'Age population, age 01, male, interpolated': [7160, 28, 7132],
 'Age population, age 02, female, interpolated': [7160, 28, 7132],
 'Age population, age 02, male, interpolated': [7160, 28, 7132],
 'Age population, age 03, female, interpolated': [7160, 28, 7132],
 'Age population, age 03, male, interpolated': [7160, 28, 7132],
 'Age population, age 04, female, interpolated': [7160, 28, 7132],
 'Age population, age 04, male, interpolated': [7160, 28, 7132],
 'Age population, age 05, female, interpolated': [7160, 28, 7132],
 'Age population, age 05, male, interpolated': [7160, 28, 7132],
 'Birth rate, crude (per 1,000 people)': [7160, 203, 6957],
 'Births attended by skilled health staff (% of total)': [7160, 4840, 2320],
 'Cause of death, by communicable diseases, ages 15-34, female (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by communicable diseases, ages 15-34, male (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by communicable diseases, ages 35-59, female (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by communicable diseases, ages 35-59, male (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by injury, ages 15-34, female  (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by injury, ages 15-34, male (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by injury, ages 35-59, female (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by injury, ages 35-59, male (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by non-communicable diseases, ages 15-34, female (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by non-communicable diseases, ages 15-34, male (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by non-communicable diseases, ages 35-59, female (% of relevant age group)': [7160,
  6280,
  880],
 'Cause of death, by non-communicable diseases, ages 35-59, male (% of relevant age group)': [7160,
  6280,
  880],
 'Children in employment, female (% of female children ages 7-14)': [7160,
  6880,
  280],
 'Children in employment, male (% of male children ages 7-14)': [7160,
  6880,
  280],
 'Children out of school, primary, female': [7160, 4461, 2699],
 'Children out of school, primary, male': [7160, 4462, 2698],
 'Completeness of birth registration, female (%)': [7160, 6926, 234],
 'Completeness of birth registration, male (%)': [7160, 6926, 234],
 'Contraceptive prevalence, any methods (% of women ages 15-49)': [7160,
  6023,
  1137],
 'Contraceptive prevalence, modern methods (% of women ages 15-49)': [7160,
  6129,
  1031],
 'Contributing family workers, female (% of female employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Contributing family workers, male (% of male employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Cost of business start-up procedures, female (% of GNI per capita)': [7160,
  4359,
  2801],
 'Cost of business start-up procedures, male (% of GNI per capita)': [7160,
  4359,
  2801],
 'Criminal penalties or civil remedies exist for sexual harassment in employment (1=yes; 0=no)': [7160,
  40,
  7120],
 'Death rate, crude (per 1,000 people)': [7160, 203, 6957],
 "Decision maker about a woman's own health care: mainly husband (% of women age 15-49)": [7160,
  6996,
  164],
 "Decision maker about a woman's own health care: mainly wife (% of women age 15-49)": [7160,
  6996,
  164],
 "Decision maker about a woman's own health care: other (% of women age 15-49)": [7160,
  7000,
  160],
 "Decision maker about a woman's own health care: someone else (% of women age 15-49)": [7160,
  6997,
  163],
 "Decision maker about a woman's own health care: wife and husband jointly (% of women age 15-49)": [7160,
  6996,
  164],
 "Decision maker about a woman's visits to her family or relatives: mainly husband (% of women age 15-49)": [7160,
  6996,
  164],
 "Decision maker about a woman's visits to her family or relatives: mainly wife (% of women age 15-49)": [7160,
  6996,
  164],
 "Decision maker about a woman's visits to her family or relatives: other (% of women age 15-49)": [7160,
  6998,
  162],
 "Decision maker about a woman's visits to her family or relatives: someone else (% of women age 15-49)": [7160,
  6997,
  163],
 'Decision maker about major household purchases: mainly husband (% of women age 15-49)': [7160,
  6995,
  165],
 'Decision maker about major household purchases: mainly wife (% of women age 15-49)': [7160,
  6995,
  165],
 'Decision maker about major household purchases: other (% of women age 15-49)': [7160,
  7001,
  159],
 'Decision maker about major household purchases: someone else (% of women age 15-49)': [7160,
  6996,
  164],
 'Decision maker about major household purchases: wife and husband jointly (% of women age 15-49)': [7160,
  6995,
  165],
 'Decision maker about Visits to her family or relatives: wife and husband jointly (% of women age 15-49)': [7160,
  6996,
  164],
 'Demand for family planning satisfied by any methods (% of married women with demand for family planning)': [7160,
  6897,
  263],
 'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)': [7160,
  6606,
  554],
 'Dismissal of pregnant workers is prohibited (1=yes; 0=no)': [7160, 40, 7120],
 "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)": [7160,
  6770,
  390],
 "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)": [7160,
  6770,
  390],
 'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)': [7160,
  6163,
  997],
 'Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)': [7160,
  6163,
  997],
 'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)': [7160,
  6161,
  999],
 'Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)': [7160,
  6161,
  999],
 'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)': [7160,
  6334,
  826],
 'Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)': [7160,
  6334,
  826],
 'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)': [7160,
  6279,
  881],
 'Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)': [7160,
  6279,
  881],
 'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)': [7160,
  6198,
  962],
 'Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)': [7160,
  6198,
  962],
 "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)": [7160,
  6862,
  298],
 "Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)": [7160,
  6862,
  298],
 'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)': [7160,
  6906,
  254],
 'Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)': [7160,
  6906,
  254],
 'Employers, female (% of female employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employers, male (% of male employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment in agriculture, female (% of female employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment in agriculture, male (% of male employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment in industry, female (% of female employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment in industry, male (% of male employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment in services, female (% of female employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment in services, male (% of male employment) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment to population ratio, 15+, female (%) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment to population ratio, 15+, female (%) (national estimate)': [7160,
  4185,
  2975],
 'Employment to population ratio, 15+, male (%) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment to population ratio, 15+, male (%) (national estimate)': [7160,
  4187,
  2973],
 'Employment to population ratio, 15+, total (%) (national estimate)': [7160,
  4054,
  3106],
 'Employment to population ratio, ages 15-24, female (%) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment to population ratio, ages 15-24, female (%) (national estimate)': [7160,
  4957,
  2203],
 'Employment to population ratio, ages 15-24, male (%) (modeled ILO estimate)': [7160,
  1998,
  5162],
 'Employment to population ratio, ages 15-24, male (%) (national estimate)': [7160,
  4956,
  2204],
 'Employment to population ratio, ages 15-24, total (%) (national estimate)': [7160,
  4949,
  2211],
 'Expected Years of School': [7160, 6729, 431],
 'Expected Years of School, Female': [7160, 6757, 403],
 'Expected Years of School, Male': [7160, 6758, 402],
 'Expected years of schooling, female': [7160, 3988, 3172],
 'Expected years of schooling, male': [7160, 3988, 3172],
 'Female and male surviving spouses have equal rights to inherit assets (1=yes; 0=no)': [7160,
  40,
  7120],
 'Female genital mutilation prevalence (%)': [7160, 7057, 103],
 'Female genital mutilation prevalence (%): Q1 (lowest)': [7160, 7067, 93],
 'Female genital mutilation prevalence (%): Q2': [7160, 7067, 93],
 'Female genital mutilation prevalence (%): Q3': [7160, 7067, 93],
 'Female genital mutilation prevalence (%): Q4': [7160, 7067, 93],
 'Female genital mutilation prevalence (%): Q5 (highest)': [7160, 7067, 93],
 'Female headed households (% of households with a female head)': [7160,
  6854,
  306],
 'Female migrants (% of international migrant stock)': [7160, 5911, 1249],
 'Female primary school age children out-of-school (%)': [7160, 6950, 210],
 'Female professional and technical workers (% of total)': [7160, 7061, 99],
 'Female pupils below minimum reading proficiency at end of primary (%). Low GAML threshold': [7160,
  6950,
  210],
 'Female share of employment in senior and middle management (%)': [7160,
  6173,
  987],
 'Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)': [7160,
  6063,
  1097],
 'Female share of graduates in Agriculture programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in Education programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in Engineering, Manufacturing and Construction programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in from Business, Administration and Law programmes, tertiary (%)': [7160,
  6034,
  1126],
 'Female share of graduates in Health and Welfare programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in Humanities and Arts programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in Information and Communication Technologies programmes, tertiary (%)': [7160,
  6102,
  1058],
 'Female share of graduates in other fields than Science, Technology, Engineering and Mathematics programmes, tertiary (%)': [7160,
  6055,
  1105],
 'Female share of graduates in Science programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in Services programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in Social Science, Business and Law programmes, tertiary (%)': [7160,
  7160,
  0],
 'Female share of graduates in unknown or unspecified fields, tertiary (%)': [7160,
  7160,
  0],
 'Fertility rate, total (births per woman)': [7160, 219, 6941],
 'Financial institution account,female(% age 15+)': [7160, 6739, 421],
 'Financial institution account,male(% age 15+)': [7160, 6739, 421],
 'Firms with female participation in ownership (% of firms)': [7160,
  6831,
  329],
 'Firms with female top manager (% of firms)': [7160, 6928, 232],
 'Fraction of Children Under 5 Not Stunted': [7160, 6864, 296],
 'Fraction of Children Under 5 Not Stunted, Female': [7160, 6899, 261],
 'Fraction of Children Under 5 Not Stunted, Male': [7160, 6899, 261],
 'GDP (current US$)': [7160, 573, 6587],
 'GDP growth (annual %)': [7160, 647, 6513],
 'GDP per capita (constant 2010 US$)': [7160, 637, 6523],
 'GDP per capita (Current US$)': [7160, 576, 6584],
 'GINI index (World Bank estimate)': [7160, 5542, 1618],
 'GNI per capita, Atlas method (current US$)': [7160, 931, 6229],
 'GNI per capita, PPP (current international $)': [7160, 2133, 5027],
 'GNI, Atlas method (current US$)': [7160, 930, 6230],
 'Government expenditure on education, total (% of GDP)': [7160, 3917, 3243],
 'Government expenditure per student, primary (% of GDP per capita)': [7160,
  5647,
  1513],
 'Government expenditure per student, secondary (% of GDP per capita)': [7160,
  5797,
  1363],
 'Gross graduation ratio, primary, female (%)': [7160, 6027, 1133],
 'Gross graduation ratio, primary, male (%)': [7160, 6027, 1133],
 'Gross graduation ratio, tertiary, female (%)': [7160, 5856, 1304],
 'Gross graduation ratio, tertiary, male (%)': [7160, 5857, 1303],
 'Harmonized Test Scores': [7160, 6747, 413],
 'Harmonized Test Scores, Female': [7160, 6773, 387],
 'Harmonized Test Scores, Male': [7160, 6773, 387],
 'Households with water 30 minutes or longer away round trip (%)': [7160,
  6896,
  264],
 'Households with water less than 30 minutes away round trip (%)': [7160,
  6896,
  264],
 'Households with water on the premises (%)': [7160, 6896, 264],
 'Human Capital Index (HCI) (scale 0-1)': [7160, 7008, 152],
 'Human Capital Index (HCI), Female (scale 0-1)': [7160, 7035, 125],
 'Human Capital Index (HCI), Female, Lower Bound (scale 0-1)': [7160,
  7035,
  125],
 'Human Capital Index (HCI), Female, Upper Bound (scale 0-1)': [7160,
  7035,
  125],
 'Human Capital Index (HCI), Lower Bound (scale 0-1)': [7160, 7008, 152],
 'Human Capital Index (HCI), Male (scale 0-1)': [7160, 7036, 124],
 'Human Capital Index (HCI), Male, Lower Bound (scale 0-1)': [7160, 7036, 124],
 'Human Capital Index (HCI), Male, Upper Bound (scale 0-1)': [7160, 7036, 124],
 'Human Capital Index (HCI), Upper Bound (scale 0-1)': [7160, 7008, 152],
 'Immunization, DPT (% of children ages 12-23 months)': [7160, 641, 6519],
 'Immunization, measles (% of children ages 12-23 months)': [7160, 727, 6433],
 'Incidence of HIV, ages 15-24, female (per 1,000 uninfected female population ages 15-24)': [7160,
  3771,
  3389],
 'Incidence of HIV, ages 15-24, male (per 1,000 uninfected male population ages 15-24)': [7160,
  3771,
  3389],
 'Incidence of HIV, ages 15-49, female (per 1,000 uninfected female population ages 15-49)': [7160,
  3771,
  3389],
 'Incidence of HIV, ages 15-49, male (per 1,000 uninfected male population ages 15-49)': [7160,
  3771,
  3389],
 'Inflation, consumer prices (annual %)': [7160, 1395, 5765],
 'Informal employment, female (% of total non-agricultural employment)': [7160,
  6752,
  408],
 'Informal employment, male (% of total non-agricultural employment)': [7160,
  6752,
  408],
 'Labor force participation rate for ages 15-24, female (%) (modeled ILO estimate)': [7160,
  1820,
  5340],
 'Labor force participation rate for ages 15-24, female (%) (national estimate)': [7160,
  4144,
  3016],
 'Labor force participation rate for ages 15-24, male (%) (modeled ILO estimate)': [7160,
  1820,
  5340],
 'Labor force participation rate for ages 15-24, male (%) (national estimate)': [7160,
  4143,
  3017],
 'Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)': [7160,
  1820,
  5340],
 'Labor force participation rate, female (% of female population ages 15+) (national estimate)': [7160,
  3743,
  3417],
 'Labor force participation rate, female (% of female population ages 15-64) (modeled ILO estimate)': [7160,
  1820,
  5340],
 'Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)': [7160,
  1820,
  5340],
 'Labor force participation rate, male (% of male population ages 15+) (national estimate)': [7160,
  3742,
  3418],
 'Labor force participation rate, male (% of male population ages 15-64) (modeled ILO estimate)': [7160,
  1820,
  5340],
 'Labor force with advanced education, female (% of female working-age population with advanced education)': [7160,
  5575,
  1585],
 'Labor force with advanced education, male (% of male working-age population with advanced education)': [7160,
  5572,
  1588],
 'Labor force with basic education, female (% of female working-age population with basic education)': [7160,
  5577,
  1583],
 'Labor force with basic education, male (% of male working-age population with basic education)': [7160,
  5577,
  1583],
 'Labor force with intermediate education, female (% of female working-age population with intermediate education)': [7160,
  5578,
  1582],
 'Labor force with intermediate education, male (% of male working-age population with intermediate education)': [7160,
  5577,
  1583],
 'Labor force, female': [7160, 1831, 5329],
 'Labor force, female (% of total labor force)': [7160, 1831, 5329],
 'Labor force, total': [7160, 1831, 5329],
 'Law mandates equal remuneration for females and males for work of equal value (1=yes; 0=no)': [7160,
  40,
  7120],
 'Law prohibits discrimination in employment based on gender (1=yes; 0=no)': [7160,
  40,
  7120],

In [28]:
null_df = pd.DataFrame.from_dict(null_check, orient='index')
null_df.reset_index(inplace=True)
col_names = ['Indicator Name','Total Count','Null Count','Non-Null Count']
null_df.columns = col_names
null_df

,Indicator Name,Total Count,Null Count,Non-Null Count
0,A woman can apply for a passport in the same way as a man (1=yes; 0=no),7160,40,7120
1,A woman can be head of household in the same way as a man (1=yes; 0=no),7160,40,7120
2,A woman can choose where to live in the same way as a man (1=yes; 0=no),7160,40,7120
3,A woman can get a job in the same way as a man (1=yes; 0=no),7160,40,7120
4,A woman can obtain a judgment of divorce in the same way as a man (1=yes; 0=no),7160,40,7120
5,A woman can open a bank account in the same way as a man (1=yes; 0=no),7160,40,7120
6,A woman can register a business in the same way as a man (1=yes; 0=no),7160,40,7120
7,A woman can sign a contract in the same way as a man (1=yes; 0=no),7160,40,7120
8,A woman can travel outside her home in the same way as a man (1=yes; 0=no),7160,40,7120
9,A woman can travel outside the country in the same way as a man (1=yes; 0=no),7160,40,7120
10,A woman has the same rights to remarry as a man (1=yes; 0=no),7160,40,7120
11,"Access to anti-retroviral drugs, female (%)",7160,4840,2320
12,"Access to anti-retroviral drugs, male (%)",7160,4840,2320
13,"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)",7160,6739,421
14,"Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)",7160,6739,421
15,"Adjusted net enrollment rate, primary, female (% of primary school age children)",7160,4525,2635
16,"Adjusted net enrollment rate, primary, male (% of primary school age children)",7160,4525,2635
17,"Adolescent fertility rate (births per 1,000 women ages 15-19)",7160,179,6981
18,"Age at first marriage, female",7160,5545,1615
19,"Age at first marriage, male",7160,5751,1409
20,Age dependency ratio (% of working-age population),7160,31,7129
21,"Age population, age 0, female, interpolated",7160,28,7132
22,"Age population, age 0, male, interpolated",7160,28,7132
23,"Age population, age 01, female, interpolated",7160,28,7132
24,"Age population, age 01, male, interpolated",7160,28,7132
25,"Age population, age 02, female, interpolated",7160,28,7132
26,"Age population, age 02, male, interpolated",7160,28,7132
27,"Age population, age 03, female, interpolated",7160,28,7132
28,"Age population, age 03, male, interpolated",7160,28,7132
29,"Age population, age 04, female, interpolated",7160,28,7132
...,...,...,...,...
594,Women who own a house jointly (% of women age 15-49),7160,7082,78
595,Women who own a house jointly (% of women age 15-49): Q1 (lowest),7160,7082,78
596,Women who own a house jointly (% of women age 15-49): Q2,7160,7082,78
597,Women who own a house jointly (% of women age 15-49): Q3,7160,7082,78
598,Women who own a house jointly (% of women age 15-49): Q4,7160,7082,78
599,Women who own a house jointly (% of women age 15-49): Q5 (highest),7160,7082,78
600,Women who own land alone (% of women age 15-49),7160,7087,73
601,Women who own land alone (% of women age 15-49): Q1 (lowest),7160,7087,73
602,Women who own land alone (% of women age 15-49): Q2,7160,7087,73
603,Women who own land alone (% of women age 15-49): Q3,7160,7087,73
604,Women who own land alone (% of women age 15-49): Q4,7160,7087,73
605,Women who own land alone (% of women age 15-49): Q5 (highest),7160,7087,73
606,Women who own land both alone and jointly (% of women age 15-49),7160,7090,70
607,Women who own land both alone and jointly (% of women age 15-49): Q1 (lowest),7160,7090,70
608,Women who own land both alone and jointly (% of women age 15-49): Q2,7160,7090,70
609,Women who own land both alone and jointly (% of women age 15-49): Q3,7160,7090,70
610,Women who own land both alone and jointly (% of women age 15-49): Q4,7160,7090,70
611,Women who own land both alone and jointly (% of women age 15-49): Q5 (highest),7160,7090,70
612,Women who own land jointly (% of women age 15-49),7160,7087,73
613,Women who own land jointly (% of women age 15-49): Q1 (lowest),7160,7087,73
614,Women who own land jointly (% of women age 15-49): Q2,7160,7087,73
615,Women who own land jointly (% of women age 15-49): Q3,7160,7087,73
616,Women who own land jointly (% of women age 15-49): Q4,7160,7087,73
617,Women who own land jointly (% of women age 15-49): Q5 (highest),7160,7087,73
618,Women who were first married by age 15 (% of women ages 20-24),7160,6762,398
619,Women who were first married by age 18 (% of women ages 20-24),7160,6676,484
620,Women with a national identity card or equivalent foundational identity document (% of women ages 15+),7160,7066,94
621,Women's share of population ages 15+ living with HIV (%),7160,3651,3509
622,"Youth illiterate population, 15-24 years, % female",7160,6296,864
623,"Youth illiterate population, 15-24 years, female (number)",7160,6296,864

In [37]:
test = null_df.loc[(null_df['Null Count']<=2000) & (~null_df['Indicator Name'].str.contains("(1=yes; 0=no)"))]

C:\Users\Sinchita Siddiquee\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [38]:
#test.to_csv(r'C:\Users\Sinchita Siddiquee\Desktop\Sinchita Siddiquee\Personal Projects\World Bank Gender Statistics\test.csv', index=False, header=True)

In [45]:
join_df.loc[(join_df['Indicator Name']=='Employment to population ratio, 15+, female (%) (modeled ILO estimate)') &
            (join_df['Indicator Value'].isnull())]

,Country Code,Country Name,Region,Income Group,Indicator Name,Year,Indicator Value
1152280,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1980,NaN
1152281,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1981,NaN
1152282,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1982,NaN
1152283,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1983,NaN
1152284,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1984,NaN
1152285,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1985,NaN
1152286,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1986,NaN
1152287,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1987,NaN
1152288,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1988,NaN
1152289,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1989,NaN
1152290,AFG,Afghanistan,South Asia,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1990,NaN
1177240,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1980,NaN
1177241,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1981,NaN
1177242,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1982,NaN
1177243,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1983,NaN
1177244,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1984,NaN
1177245,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1985,NaN
1177246,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1986,NaN
1177247,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1987,NaN
1177248,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1988,NaN
1177249,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1989,NaN
1177250,ALB,Albania,Europe & Central Asia,Upper middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1990,NaN
1202200,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1980,NaN
1202201,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1981,NaN
1202202,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1982,NaN
1202203,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1983,NaN
1202204,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1984,NaN
1202205,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1985,NaN
1202206,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1986,NaN
1202207,DZA,Algeria,Middle East & North Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1987,NaN
...,...,...,...,...,...,...,...
6493723,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1983,NaN
6493724,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1984,NaN
6493725,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1985,NaN
6493726,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1986,NaN
6493727,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1987,NaN
6493728,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1988,NaN
6493729,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1989,NaN
6493730,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1990,NaN
6518680,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1980,NaN
6518681,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1981,NaN
6518682,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1982,NaN
6518683,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1983,NaN
6518684,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1984,NaN
6518685,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1985,NaN
6518686,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1986,NaN
6518687,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1987,NaN
6518688,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1988,NaN
6518689,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1989,NaN
6518690,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1990,NaN
6543640,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1980,NaN
6543641,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1981,NaN
6543642,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1982,NaN
6543643,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1983,NaN
6543644,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1984,NaN
6543645,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1985,NaN
6543646,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1986,NaN
6543647,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1987,NaN
6543648,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1988,NaN
6543649,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1989,NaN
6543650,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",1990,NaN

In [ ]:
join_df = join_df[(join_df['Indicator Name']=="Expected years of schooling, female")|
        (join_df['Indicator Name']=="Expected years of schooling, male")|
        (join_df['Indicator Name']=="Female share of employment in senior and middle management (%)")|
        (join_df['Indicator Name']=="GDP per capita (Current US$)")|
        (join_df['Indicator Name']=="Government expenditure on education, total (% of GDP)")|
        (join_df['Indicator Name']=="Gross graduation ratio, primary, female (%)")|
        (join_df['Indicator Name']=="Gross graduation ratio, primary, male (%)")|
        (join_df['Indicator Name']=="Gross graduation ratio, tertiary, female (%)")|
        (join_df['Indicator Name']=="Gross graduation ratio, tertiary, male (%)")|
        (join_df['Indicator Name']=="Labor force, female (% of total labor force)")|
        (join_df['Indicator Name']=="Primary completion rate, female (% of relevant age group)")|
        (join_df['Indicator Name']=="Primary completion rate, male (% of relevant age group)")|
        (join_df['Indicator Name']=="Proportion of seats held by women in national parliaments (%)")|
        (join_df['Indicator Name']=="Self-employed, female (% of female employment) (modeled ILO estimate)")|
        (join_df['Indicator Name']=="Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)")
       ]

In [ ]:
join_df['Indicator Name'].unique()

In [ ]:
ind_pivot = join_df.pivot_table('Indicator Value', ['Country Code','Country Name','Region','Income Group','Year'], 'Indicator Name')
ind_pivot.head()

In [ ]:
ind_pivot.reset_index(inplace=True)
ind_pivot

In [ ]:
ind_pivot.rename_axis(None, axis=1, inplace=True)
ind_pivot

In [ ]:
ind_pivot.rename({
'Expected years of schooling, female' : 'Expected Years of Schooling (Female)',
'Expected years of schooling, male' : 'Expected Years of Schooling (Male)',
'Female share of employment in senior and middle management (%)' : 'Share in Senior Management (Female, %)',
'Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)' : 'Share of STEM Graduates (Female, %)',
'GDP per capita (Current US$)' : 'GDP Per Capita (Current US$)',
'Government expenditure on education, total (% of GDP)' : 'Govement Expenditure on Education (% of GDP)',
'Gross graduation ratio, primary, female (%)' : 'Gross Primary Graduation Ratio (Female, %)',
'Gross graduation ratio, primary, male (%)' : 'Gross Primary Graduation Ratio (Male, %)',
'Gross graduation ratio, tertiary, female (%)' : 'Gross Tertiary Graduation Ratio (Female, %)',
'Gross graduation ratio, tertiary, male (%)' : 'Gross Tertiary Graduation Ratio (Male, %)',
'Labor force, female (% of total labor force)' : 'Share of Labor Force (Female, %)',
'Primary completion rate, female (% of relevant age group)' : 'Primary Completion Rate (Female, %)',
'Primary completion rate, male (% of relevant age group)' : 'Primary Completion Rate (Male, %)',
'Proportion of seats held by women in national parliaments (%)' : 'Share of Seats in National Parliament (Female, %)',
'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)' : 'Female To Male Labor Force Participation (%)'
}, axis=1, inplace=True)